{% extends "base.html" %}
{% load static %}
{% load productsinfo %}
{% block content %}

<style>
    #regibutton:disabled{
        background-color: #cccccc;
        color: #ffffff;
        border: none;
        cursor: not-allowed;
    }

</style>

<!-- page-banner-area-start -->
<div class="page-banner-area page-banner-height-2" data-background="{% static 'assets/img/banner/page-banner-4.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-banner-content text-center">
                    <h4 class="breadcrumb-title">My account</h4>
                    <div class="breadcrumb-two">
                        <nav>
                            <nav class="breadcrumb-trail breadcrumbs">
                                <ul class="breadcrumb-menu">
                                    <li class="breadcrumb-trail">
                                        <a href="{% url 'Home' %}"><span>Home</span></a>
                                    </li>
                                    <li class="trail-item">
                                        <span>My account</span>
                                    </li>
                                </ul>
                            </nav>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-banner-area-end -->

<!-- account-area-start -->
<div class="account-area mt-70 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="basic-login mb-50">
                    <h5>Login</h5>
                    <form action="#">
                        
                        <label for="name">Username or email address <span>*</span></label>
                        <input id="name" type="text" placeholder="Enter Username">

                        <label for="pass">Password <span>*</span></label>
                        <input id="pass" type="password" placeholder="Enter password...">

                        <div class="login-action mb-10 fix">
                            <span class="log-rem f-left">
                                <input id="remember" type="checkbox">
                                <label for="remember">Remember me</label>
                            </span>
                            <span class="forgot-login f-right">
                                <a href="#">Lost your password?</a>
                            </span>
                        </div>
                        <a href="login.html" class="tp-in-btn w-100">log in</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="basic-login">
                    <h5>Register</h5>
                    <form action="{% url 'Registration' %}" method="post">

                        {% csrf_token %}
                        <label for="username">Username<span>*</span></label> &nbsp; <span id="userwarn" style="color: red;"></span>
                        <input required id="username_id" name="username" type="text" placeholder="Enter Username">

                        <label for="email">Email Address <span>*</span></label> <span id="emailwarn" style="color: red;"></span>
                        <input required id="email_id" name="email" type="email" placeholder="Email address...">
                        
                        <label for="phone">Phone Number <span>*</span></label> <span id="phonewarn" style="color: red;"></span>
                        <input required id="phone_id" name="phone" type="phone" placeholder="+91...">
                
                        <div class="order-notes">
                            <div class="checkout-form-list">
                                <label>Address</label>
                                <textarea id="address_id" name="address" cols="30" rows="10" placeholder="Enter address..."></textarea>
                            </div>
                        </div>

                        <label for="userpass">Password <span>*</span></label> <span id="passwarn" style="color: red;"></span>
                        <input required id="userpass_id" name="userpass" type="password" placeholder="Enter password...">

                        <label for="conpass">Confirm Password <span>*</span></label> <span id="conpasswarn" style="color: red;"></span>
                        <input required id="confirmpass_id" name="confirmpass" type="password" placeholder="Enter confirm password...">

                        <div class="login-action mb-10 fix">
                            <p>Your personal data will be used to support your experience throughout this website, to
                                manage access to your account, and for other purposes described in our <a
                                    href="#">privacy policy</a>.</p>
                        </div>
                        <button type="submit" id="regibutton" class="tp-in-btn w-100">Register</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account-area-end -->

{% endblock %}

{% block js %}

<script>
    // let url = ""
    let fetchData= async(username,field)=>{
        url = `user-validate/${username}/${field}`;

        let res = await fetch(url)
        let data = await res.json()
        return data
    }

    // let usernameid = document.getElementById("username-id")    //we can use this way or direct use the id. 
    // let emailid = document.getElementById("email-id")

    username_id.addEventListener("input", async (e)=>{
        let username = e.target.value
        let data = await fetchData(username,"username")
        if (data.status == "error"){
            userwarn.innerHTML = data.message
            regibutton.disabled = true
        }else{
            userwarn.innerHTML = ""
            regibutton.disabled = false  //enable the register button when username is valid.  // we can use this way or direct use the id.  // usernameid.disabled = false;
        }
        // userwarn.innerHTML = data.message
    })
    
    email_id.addEventListener("input", async (e)=>{
        let email = e.target.value
        let data = await fetchData(email,"email")
        if (data.status =="error"){
            emailwarn.innerHTML = data.message
            regibutton.disabled = true
        }else{
            emailwarn.innerHTML = ""
            regibutton.disabled = false
        }
        // emailwarn.innerHTML = data.message
    })

    phone_id.addEventListener("input", async (e)=>{
        let phone = e.target.value
        let data = await fetchData(phone,"phone")
        if (data.status == "error"){
            phonewarn.innerHTML = data.message
            regibutton.disabled = true
        }else{ 
            phonewarn.innerHTML = ""
            regibutton.disabled = false
        }
        // phonewarn.innerHTML = data.message
    })
    
    phone_id.addEventListener("input", async (e)=>{
        let phone = e.target.value
        if (phone.length > 10 || phone.length < 10  ){
            phonewarn.innerHTML = "Invalid phone number."
            regibutton.disabled = true
            // return  //exit the function if phone number is invalid.
        }else{
            phonewarn.innerHTML = ""
            regibutton.disabled = false  //enable the register button when phone number is valid.
        }
        
    })

    confirmpass_id.addEventListener("input",async(e)=>{
        let confirmpass = e.target.value
        let userpass = userpass_id.value
        if (confirmpass!= userpass){
            conpasswarn.innerHTML = "Passwords do not match."
            regibutton.disabled = true
        }else{
            conpasswarn.innerHTML = ""
            regibutton.disabled = false
        }
    }) 

</script>


{% endblock %}