{% extends "base.html" %}
{% load static %}
{% load productsinfo %}
{% block content %}



<!-- product-details-start -->
<br>
<div class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="product__details-nav d-sm-flex align-items-start">
                    <ul class="nav nav-tabs flex-sm-column justify-content-between" id="productThumbTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="thumbOne-tab" data-bs-toggle="tab"
                                data-bs-target="#thumbOne" type="button" role="tab" aria-controls="thumbOne"
                                aria-selected="true">
                                <img src="{{product.featured_image}}" style="width:55px; height:55px;" alt="">
                            </button>
                        </li>
                        {% for pro in product.aditional_image_set.all %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="thumb-{{ pro.id}}-tab" data-bs-toggle="tab"
                                data-bs-target="#thumb-{{ pro.id }}" type="button" role="tab"
                                aria-controls="thumb-{{ pro.id }}" aria-selected="false">
                                <img src=" {{ pro.image }}" style="width:55px; height:55px;" alt="">
                            </button>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="product__details-thumb">
                        <div class="tab-content" id="productThumbContent">
                            <div class="tab-pane fade show active" id="thumbOne" role="tabpanel"
                                aria-labelledby="thumbOne-tab">
                                <div class="product__details-nav-thumb w-img">
                                    <img src="{{ product.featured_image }} " alt="">
                                </div>
                            </div>
                            {% for pro in product.aditional_image_set.all %}
                            <div class="tab-pane fade" id="thumb-{{pro.id}}" role="tabpanel"
                                aria-labelledby="thumb-{{pro.id}}-tab">
                                <div class="product__details-nav-thumb w-img">
                                    <img src="{{ pro.image}}" alt="">
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="product__details-content">
                    <h6> {{product.title }}</h6>
                    <!-- <div class="pd-rating mb-10">
                        <ul class="rating">
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                        </ul>
                        <span>(01 review)</span>
                        <span><a href="#">Add your review</a></span>
                    </div> -->
                    <span >Discount {{ product.discount}}%</span>
                    <div class="price mb-10">
                        <del>&#8377;{{ product.price }}</del>
                        <span>&#8377;{% discount_price product.price product.discount %}</span>
                    </div>
                    <div class="features-des mb-20 mt-10">
                         {{product.description |safe}}
                    </div>
                    <div class="product-stock mb-20">
                        <h5>Availability: <span> {{product.available}} in stock</span></h5>
                    </div>
                    <div class="cart-option mb-15">
                        <div class="product-quantity mr-20">
                            <div class="cart-plus-minus p-relative"><input type="text" value="1">
                                <div class="dec qtybutton">-</div>
                                <div class="inc qtybutton">+</div>
                            </div>
                        </div>
                        <a href="cart.html" class="cart-btn">Add to Cart</a>
                    </div>
                    <div class="details-meta">
                        <div class="d-meta-left">
                            <div class="dm-item mr-20">
                                <a href="#"><i class="fal fa-heart"></i>Add to wishlist</a>
                            </div>
                            <div class="dm-item">
                                <a href="#"><i class="fal fa-layer-group"></i>Compare</a>
                            </div>
                        </div>
                        <div class="d-meta-left">
                            <div class="dm-item">
                                <a href="#"><i class="fal fa-share-alt"></i>Share</a>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product-details-end -->

<!-- product-details-des-start -->
<div class="product-details-des mt-40 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="product__details-des-tab">
                    <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des"
                                type="button" role="tab" aria-controls="des" aria-selected="true">Description </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="aditional-tab" data-bs-toggle="tab" data-bs-target="#aditional"
                                type="button" role="tab" aria-controls="aditional" aria-selected="false">Additional
                                information</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                type="button" role="tab" aria-controls="review" aria-selected="false">Reviews (1)
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content" id="prodductDesTaContent">
            <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                <div class="product__details-des-wrapper">
                     {{ product.product_information |safe}}
                    <div class="features-des-image text-center">
                        <img src="{{ product.featured_image}}" alt="">
                    </div>
                     
                     
                    <div class="features-des-image features-des-image-2 text-center mb-50 w-img">
                        <img src="assets/img/features-product/product-content-4.jpg" alt="">
                    </div>
                    <div class="des-sm-features">
                        <div class="des-sm-fet text-center mb-30">
                            <img src="assets/img/features-product/product-content-5.png" alt="">
                            <span>Ultra Wide Angle</span>
                        </div>
                        <div class="des-sm-fet text-center mb-30">
                            <img src="assets/img/features-product/product-content-6.png" alt="">
                            <span>Live Focus On</span>
                        </div>
                    </div>
                     
                    <h6 class="des-sm-title">Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45
                        BC.</h6>
                    <p class="des-text mb-25">Sound of Marshall, unplugs the chords, and takes the show on the road.
                        Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering.
                        Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact,
                        stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs
                        for a sound that is both articulate and pronounced. The analogue knobs allow you to fine tune
                        the controls to your personal preferences while the guitar-influenced leather strap enables easy
                        and stylish travel.</p>
                </div>
            </div>
             
             
        </div>
    </div>
</div>
<!-- product-details-des-end -->

{% endblock %}