{% extends "base.html" %}
{% load static %}
{% load productsinfo %}
{% block content %}



<!-- product-details-start -->
<br>
<div class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="product__details-nav d-sm-flex align-items-start">
                    <ul class="nav nav-tabs flex-sm-column justify-content-between" id="productThumbTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="thumbOne-tab" data-bs-toggle="tab"
                                data-bs-target="#thumbOne" type="button" role="tab" aria-controls="thumbOne"
                                aria-selected="true">
                                <img src="{{product.featured_image}}" style="width:55px; height:55px;" alt="">
                            </button>
                        </li>
                        {% for pro in product.aditional_image_set.all %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="thumb-{{ pro.id}}-tab" data-bs-toggle="tab"
                                data-bs-target="#thumb-{{ pro.id }}" type="button" role="tab"
                                aria-controls="thumb-{{ pro.id }}" aria-selected="false">
                                <img src=" {{ pro.image }}" style="width:55px; height:55px;" alt="">
                            </button>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="product__details-thumb">
                        <div class="tab-content" id="productThumbContent">
                            <div class="tab-pane fade show active" id="thumbOne" role="tabpanel"
                                aria-labelledby="thumbOne-tab">
                                <div class="product__details-nav-thumb w-img">
                                    <img src="{{ product.featured_image }} " alt="">
                                </div>
                            </div>
                            {% for pro in product.aditional_image_set.all %}
                            <div class="tab-pane fade" id="thumb-{{pro.id}}" role="tabpanel"
                                aria-labelledby="thumb-{{pro.id}}-tab">
                                <div class="product__details-nav-thumb w-img">
                                    <img src="{{ pro.image}}" alt="">
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="product__details-content">
                    <h6> {{product.title }}</h6>
                    <!-- <div class="pd-rating mb-10">
                        <ul class="rating">
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                        </ul>
                        <span>(01 review)</span>
                        <span><a href="#">Add your review</a></span>
                    </div> -->
                    <span >Discount {{ product.discount}}%</span>
                    <div class="price mb-10">
                        <del>&#8377;{{ product.price }}</del>
                        <span>&#8377;{% discount_price product.price product.discount %}</span>
                    </div>
                    <div class="features-des mb-20 mt-10">
                         {{product.description |safe}}
                    </div>
                    <div class="product-stock mb-20">
                        <h5>Availability: <span> {{product.available}} in stock</span></h5>
                    </div>
                    <div class="cart-option mb-15">
                        <div class="product-quantity mr-20">
                            <div class="cart-plus-minus p-relative"><input type="text" value="1">
                                <div class="dec qtybutton">-</div>
                                <div class="inc qtybutton">+</div>
                            </div>
                        </div>
                        <a href="{% url 'Add_to_cart' product.id %}" class="cart-btn">Add to Cart</a>
                    </div>
                    <div class="details-meta">
                        <div class="d-meta-left">
                            <div class="dm-item mr-20">
                                <a href="#"><i class="fal fa-heart"></i>Add to wishlist</a>
                            </div>
                             
                        </div>
                         
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product-details-end -->

<!-- product-details-des-start -->
<div class="product-details-des mt-40 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="product__details-des-tab">
                    <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des"
                                type="button" role="tab" aria-controls="des" aria-selected="true">Description </button>
                        </li>
                         
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                type="button" role="tab" aria-controls="review" aria-selected="false">Reviews (1)
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content" id="prodductDesTaContent">
            <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                <div class="product__details-des-wrapper">
                    {{ product.product_information |safe}}
                    <div class="features-des-image text-center">
                        <img src="{{product.featured_image}}" alt="">
                    </div>
                     
                    <div class="row mb-80">
                        <div class="col-xl-6">
                            <div class="des-single mb-30 text-center">
                                <div class="features-des-image text-center">
                                    <img src="{% static 'assets/img/features-product/product-content-2.jpg' %}" alt="">
                                </div>
                                <h5 class="des-section">Get 30% Daily Cash
                                    <br> Back with Membership Card.
                                </h5>
                                <p>Sit amet conse ctetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="des-single text-center mb-30">
                                <div class="features-des-image">
                                    <img src="{% static 'assets/img/features-product/product-content-3.jpg' %}" alt="">
                                </div>
                                <h5 class="des-section text-center">Get 70% Daily Cash
                                    <br> Back with Membership Card.
                                </h5>
                                <p>Sit amet conse ctetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                     
                     
                </div>
                
            </div>
             
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="product__details-review">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="review-rate">
                                <h5>5.00</h5>
                                <div class="review-star">
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                </div>
                                <span class="review-count">01 Review</span>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="review-des-infod">
                                <h6>1 review for "<span>Wireless Bluetooth Over-Ear Headphones</span>"</h6>
                                <div class="review-details-des">
                                    <div class="author-image mr-15">
                                        <a href="#"><img src="{% static 'assets/img/author/author-sm-1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="review-details-content">
                                        <div class="str-info">
                                            <div class="review-star mr-15">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </div>
                                            <div class="add-review-option">
                                                <a href="#">Add Review</a>
                                            </div>
                                        </div>
                                        <div class="name-date mb-30">
                                            <h6> admin – <span> May 27, 2021</span></h6>
                                        </div>
                                        <p>A light chair, easy to move around the dining table and about the room. Duis
                                            aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="product__details-comment ">
                                <div class="comment-title mb-20">
                                    <h3>Add a review</h3>
                                    <p>Your email address will not be published. Required fields are marked *</p>
                                </div>
                                <div class="comment-rating mb-20">
                                    <span>Overall ratings</span>
                                    <ul>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="comment-input-box">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-6">
                                                <div class="comment-input">
                                                    <input type="text" placeholder="Your Name">
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-6">
                                                <div class="comment-input">
                                                    <input type="email" placeholder="Your Email">
                                                </div>
                                            </div>
                                            <div class="col-xxl-12">
                                                <textarea placeholder="Your review"
                                                    class="comment-input comment-textarea"></textarea>
                                            </div>
                                            <div class="col-xxl-12">
                                                <div class="comment-agree d-flex align-items-center mb-25">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            Save my name, email, and website in this browser for the
                                                            next time I comment.
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-12">
                                                <div class="comment-submit">
                                                    <button type="submit" class="cart-btn">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product-details-des-end -->

{% endblock %}