
{% load static %}
{% load productsinfo %}
 
{% if is_error %}
 <!-- error-area-start -->
 <div class="error-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-info text-center">
                    <div class="error-image text-center mb-50">
                        <img src="{% static 'assets/img/banner/404.png' %}" alt="">
                    </div>
                    <div class="error-content">
                        <h5>Product Not Found</h5>
                        <p>Sorry, the product is not available. Please try searching for something else or return to Homepage.</p>
                        <div class="error-button">
                            <a href="#" class="error-btn">Return to Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- error-area-start -->

{% else %}
{% for pro in products %}
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
    <div class="product__item product__item-d">
        <div class="product__thumb fix">
            <div class="product-image w-img">
                <a href="{% url 'Productdetails' pro.slug  %}">
                    <img src="{{ pro.featured_image }}" style="height: 300px; width: 242px;" alt="product">
                </a>
            </div>
            <div class="product-action">
                <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                    <i class="fal fa-eye"></i>
                    <i class="fal fa-eye"></i>
                </a>

            </div>
        </div>
        <div class="product__content-3">
            <h6><a href="#">{{ pro.title| slice:":25" }}</a></h6>

            <div class="price mb-10">
                <del>&#8377;{{ pro.price }}</del>
                <b>&#8377;{% discount_price pro.price pro.discount %}</b>

            </div>
        </div>
        <div class="product__add-cart-s text-center">
            <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                Add to Cart
            </button>
            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100"
                data-bs-toggle="modal" data-bs-target="#productModalId">
                Quick View
            </button>
        </div>
    </div>
</div>
{% endfor %}
{% endif %} 
 